.overlay {
  height: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  /* Sit on top */
  background-color: white;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  font-size: 20px;
  color: black;
}

.overlay a:focus {
  color: black;
  background-color: #D6DBDF;
  font-weight: 700;
}

.overlay a:focus ::after {
  content: '>';
  position: absolute;
  /*make arrow stay in same line */
  right: 20px;
}

.overlay a:focus p {
  border-bottom: pink solid 3px;
  width: 70px;
}

.overlay .closebtn {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.navbar_xs {
  position: fixed;
}

.instagram-media {
  min-width: 290px !important;
}

.owl-prev, .owl-next, .owl-nav {
  background: none  !important;
  border: none;
}

.case {
  padding-top: 10px;
}

.case-dots button {
  border: none;
  background-color: transparent;
  margin-top: 10px;
  height: 17px;
}

.case-dots button:focus {
  background-image: url("../img/index_case_dots_dark.png");
  width: 16px;
  height: 16px;
  margin: 10px 10px 0 0px;
  padding-top: 20px;
}

.case-dots button:focus img {
  display: none;
}

.part04_dots button:hover {
  background-image: url("../img/index_part04_dots_dark.png");
  width: 16px;
  height: 16px;
  padding: 15px 5px 0 0;
}

.part04_dots button:hover img {
  display: none;
}

.section_1, .section_2 {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.part02_case_right {
  width: 613px;
}

.part02_case_left {
  width: 504px;
}

.part02_xs_content {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.part02_xs_content .part02_xs_dots button, .part02_xs_content img {
  padding: 5px 10px;
}

.part02_xs_content .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.part02_xs_content .tab-pane {
  padding-top: 10px;
}

.part02_dots button, img, .owl-dots button, img {
  background-color: transparent;
  border: none;
  padding: 0;
}

.part02_caption p {
  margin-top: 10px;
  font-size: 20px;
  color: #b3b3b3;
  text-align-last: left;
  font-weight: bolder;
  border-bottom: solid #b3b3b3 1px;
}

.part03 {
  text-align: center;
}

.part03 .part03_title {
  padding-bottom: 20px;
}

.part03 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.part03 ul li .nav-link {
  background-color: grey;
  padding: 5px;
  margin: 0 10px;
  border-radius: 20px;
  width: 100px;
  color: white;
}

.part03 ul li .nav-link.active {
  background-color: #efe7b9;
  color: white;
}

.part04 .left {
  background-color: #F8F8F8;
}

.part04 .more {
  padding: 10px 30PX;
  border-radius: 30px;
  margin-top: 20px;
  width: 150px;
  background-color: transparent;
}

.part04 .part04_left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.part04 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.part04 .icon .fb {
  margin-right: 20px;
}

.part04 .part04_dots button {
  background-color: transparent;
  border: none;
}

.part04 .part04_brand p {
  color: #9a9a9a;
  font-weight: 800;
  padding-top: 50px;
}

.part05_xl,
.part05_xs {
  margin: 50px 0;
  padding: 0 20px;
  text-align: center;
}

.part05_xl .part_05_more,
.part05_xs .part_05_more {
  color: black;
  text-decoration: none;
  border: solid 1px black;
  padding: 5px 20px;
}

.part05_xl .card-text,
.part05_xs .card-text {
  padding-bottom: 10%;
  font-size: 14px;
}

.part06 {
  background-image: url(../img/index_part06_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.part06 .owl-part06 {
  margin-top: 50px;
}

.part06 .owl-part06 p {
  font-size: 15px;
  padding-top: 10px;
}

.part06 .owl-part06 img {
  padding: 0 5px;
}

.part06 .owl-part06 div:focus {
  background-color: #f8e4d5;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.part06 .doctor_info {
  font-size: 25px;
}

.part06 .doctor_info .doctor {
  font-size: 25px;
  letter-spacing: 2px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.part08_xs .part08_title_xs {
  font-weight: 800;
  font-size: 25px;
}

.part08_xs .location_xs .location_info_xs {
  background-color: transparent;
  font-size: 10px;
}

.part08_xs .location_xs .location_info_xs .location_name_xs {
  font-weight: 800;
  font-size: 15px;
}

.part08_xs .location_xs .location_dunhua_xs {
  background: url(../img/index_location_01.jpg);
  background-size: cover;
  height: 200px;
  margin-bottom: 120px;
}

.part08_xs .location_xs .location_xinyi_xs {
  background: url(../img/index_location_02.jpg);
  background-size: cover;
  height: 200px;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0cecc), to(white));
  background-image: linear-gradient(#d0cecc, white);
  background-size: cover;
  height: 80px;
}

.footer span {
  padding-left: 15px;
  font-size: 15px;
}

@media (min-width: 1400px) {
  .side_bar_right .nav {
    position: fixed;
    right: 0;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    height: 100%;
  }
  .side_bar_right .nav .sunday {
    border-top: 1px solid black;
    padding-top: 10px;
    width: 100px;
  }
  .side_bar_right .nav p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  .side_bar_right ul {
    padding: 10px;
    z-index: 999;
  }
  .side_bar_right .time {
    margin-top: 50px;
    border: 1px solid black;
    padding: 0 10px;
  }
  .side_bar_left .fat-remove li a, .side_bar_left .skin li a {
    width: 190px;
  }
  .side_bar_left li:hover > .dropdown-menu {
    display: block;
    margin-left: 130px;
  }
  .side_bar_left .left_navbar {
    width: 170px;
    height: 100%;
  }
  .side_bar_left .left_navbar :hover {
    background-color: #060918;
    color: RGB(174, 149, 92);
  }
  .side_bar_left button, .side_bar_left li a {
    color: white;
    text-decoration: none;
    text-align-last: left;
    border-bottom: 1px grey solid;
    width: 130px;
    padding: 15px 10px;
    font-size: 15px;
  }
  .side_bar_left button .dropdown-menu li a, .side_bar_left li a .dropdown-menu li a {
    margin-left: 60px;
    width: 500px;
  }
  .side_bar_left button .dropdown-menu li a :hover, .side_bar_left li a .dropdown-menu li a :hover {
    color: RGB(174, 149, 92);
  }
  .side_bar_left ul {
    list-style-type: none;
    background-color: #060918;
    padding: 10px;
    position: fixed;
    z-index: 999;
  }
  .sidebar_logo {
    text-align: center;
    padding: 30px 0;
  }
  .overlay a {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 50px;
  }
  .part02 {
    margin: 30px 50px;
  }
  .part02 .part02_caption p {
    width: 40%;
  }
  .part02 .part02_maintitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 3px solid black;
  }
  .part02_content {
    background-image: url(../img/index_part2_bg.png);
    background-position: center;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    padding: 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  .part02_content .part02_case_left {
    left: 5%;
  }
  .part02_content .part02_xs_vr {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    right: 43%;
    color: #e0dedf;
    font-size: 70px;
  }
  .part02_content .part02_xs_vr .nice {
    font-weight: 900;
  }
  .part02_content .part02_xs_vr .clinic {
    font-weight: 300;
    padding-top: 30px;
  }
  .part02_content .part02_dots {
    text-align: right;
    margin-bottom: 5px;
  }
  .part02_content .part02_dots button,
  .part02_content .part02_dots img {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .part02_content li {
    list-style-type: none;
  }
  .carousel {
    width: 500px;
  }
  .part04_left_content {
    padding-top: 15%;
  }
  .owl-prev {
    position: absolute;
    left: 54%;
    top: 80%;
  }
  .owl-next {
    position: absolute;
    left: 87%;
    top: 80%;
  }
  .part06 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part06 #doc_slide {
    margin-right: 80px;
  }
  .part06 .round {
    position: relative;
  }
  .part06 .round .round-border {
    height: 80px;
    width: 80px;
    border: 1px dashed black;
    border-radius: 50%;
    -webkit-animation: spin 30s infinite;
            animation: spin 30s infinite;
    position: absolute;
    top: 18px;
    left: 25px;
  }
  .part06 .part06_arrow {
    padding-top: 55px;
  }
  .part06 .part06_arrow_design {
    position: absolute;
    left: 50px;
    top: 45px;
  }
  .part06 .part_06_info {
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .part06 .owl-part06 {
    height: 200px;
    width: 570px;
    padding: 90px 0 0 40px;
  }
  .part06 .owl-part06 div:focus {
    padding: 0 5px;
  }
  .part07_xl {
    background-image: url(../img/index_marble_background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part07_xl div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .part07_xl .instagram-media {
    height: 580px;
  }
  .part08_title {
    padding: 30px 0;
    font-size: 30px;
    font-weight: 800;
  }
  .part08 {
    margin-bottom: 40px;
  }
  .part08 .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part08 .location span {
    border-left: 1px solid black;
    height: 50px;
    margin-top: 20px;
  }
  .part08 .location .location_info {
    background-color: #e0ccb2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50%;
    padding: 5px 60px;
  }
  .part08 .location .location_info .location_name {
    font-weight: 800;
    font-size: 20px;
    padding: 0 15px 10px 0;
  }
  .part08 .location .location_info .address {
    padding: 20px 0 0 20px;
  }
  .part08 .location .location_dunhua {
    background: url(../img/index_location_01.jpg);
  }
  .part08 .location .location_dunhua p {
    -ms-flex-item-align: end;
        align-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part08 .location .location_xinyi {
    background: url(../img/index_location_02.jpg);
    background-size: cover;
  }
  .part08 .location .location_xinyi p {
    -ms-flex-item-align: end;
        align-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1365px) and (max-width: 1400px) {
  .side_bar_right .nav {
    position: fixed;
    right: 0;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    height: 100%;
  }
  .side_bar_right .nav .sunday {
    border-top: 1px solid black;
    padding-top: 10px;
    width: 100px;
  }
  .side_bar_right .nav p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  .side_bar_right ul {
    padding: 10px;
    z-index: 999;
  }
  .side_bar_right .time {
    margin-top: 50px;
    border: 1px solid black;
    padding: 0 10px;
  }
  .side_bar_left .fat-remove li a, .side_bar_left .skin li a {
    width: 190px;
  }
  .side_bar_left li:hover > .dropdown-menu {
    display: block;
    margin-left: 130px;
  }
  .side_bar_left .left_navbar {
    width: 170px;
    height: 100%;
  }
  .side_bar_left .left_navbar :hover {
    background-color: #060918;
    color: RGB(174, 149, 92);
  }
  .side_bar_left button, .side_bar_left li a {
    color: white;
    text-decoration: none;
    text-align-last: left;
    border-bottom: 1px grey solid;
    width: 130px;
    padding: 15px 10px;
    font-size: 15px;
  }
  .side_bar_left button .dropdown-menu li a, .side_bar_left li a .dropdown-menu li a {
    margin-left: 60px;
    width: 500px;
  }
  .side_bar_left button .dropdown-menu li a :hover, .side_bar_left li a .dropdown-menu li a :hover {
    color: RGB(174, 149, 92);
  }
  .side_bar_left ul {
    list-style-type: none;
    background-color: #060918;
    padding: 10px;
    position: fixed;
    z-index: 999;
  }
  .sidebar_logo {
    text-align: center;
    padding: 30px 0;
  }
  .overlay a {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 50px;
  }
  .part02 {
    margin: 30px 0;
    padding-left: 80px;
  }
  .part02 .part02_caption p {
    width: 40%;
  }
  .part02 .part02_maintitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 3px solid black;
  }
  .part02 .part02_maintitle h1 {
    font-size: 31px;
  }
  .part02_content {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
    background: url("../img/index_part2_bg_lg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .part02_content .part02_case_right, .part02_content .part02_case_left {
    width: 400px;
  }
  .part02_content .part02_case_left {
    left: 5%;
  }
  .part02_content .part02_xs_vr {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    right: 43%;
    color: #e0dedf;
    font-size: 40px;
  }
  .part02_content .part02_xs_vr .nice {
    font-weight: 900;
  }
  .part02_content .part02_xs_vr .clinic {
    font-weight: 300;
    padding-top: 30px;
  }
  .part02_content .part02_dots {
    text-align: right;
    margin-bottom: 5px;
  }
  .part02_content .part02_dots button,
  .part02_content .part02_dots img {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .part04 .left {
    height: 466px;
    padding: 20px;
  }
  .part04 .more {
    padding: 5px !important;
    border-radius: 30px;
    margin-top: 20px;
    width: 150px;
    background-color: transparent;
  }
  .part04 .part04_left_content {
    padding-top: 5%;
  }
  .part04 .part04_left_content p {
    font-size: 15px;
  }
  .part06_content {
    margin-left: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part06_content .part_06_info {
    margin-left: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .part06_content #doc_slide {
    width: 40%;
  }
  .part06_content .owl-prev {
    position: absolute;
    left: 57%;
    top: 70%;
  }
  .part06_content .owl-next {
    position: absolute;
    right: 13%;
    bottom: 21%;
  }
  .part06_content .owl-part06 {
    width: 320px;
    padding-top: 30px;
    left: 10%;
  }
  .part06_content .owl-part06 p {
    font-size: 15px;
  }
  .part06_content .owl-part06 div:focus {
    padding: 0 5px;
  }
  .part06_content .round {
    position: relative;
  }
  .part06_content .round .round-border {
    height: 80px;
    width: 80px;
    border: 1px dashed black;
    border-radius: 50%;
    -webkit-animation: spin 30s infinite;
            animation: spin 30s infinite;
    position: absolute;
    top: 18px;
    left: 25px;
  }
  .part06_content .round .part06_arrow_design {
    left: 49px;
    top: 45px;
    position: absolute;
  }
  .part06_content .round .part06_arrow {
    margin-top: 52px;
  }
  .ig_list {
    margin-left: 50px !important;
  }
  .ig_list .instagram-media {
    height: 580px;
  }
  .part07_xl {
    background-image: url(../img/index_marble_background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part07_xl div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .part08 {
    padding: 3% 15%;
  }
  .part08 .part08_title {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
  }
  .part08 .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part08 .location span {
    border-left: 1px solid black;
    height: 50px;
    margin-top: 20px;
  }
  .part08 .location .location_info {
    background-color: #e0ccb2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50%;
    padding: 5px 60px;
  }
  .part08 .location .location_info .location_name {
    font-size: 15px;
    font-weight: 800;
    width: 48%;
    padding: 0 10px 23px 0;
  }
  .part08 .location .location_info .address {
    padding: 10px 0 0 20px;
  }
  .part08 .location .location_dunhua {
    background: url(../img/index_location_01.jpg);
  }
  .part08 .location .location_dunhua p {
    -ms-flex-item-align: end;
        align-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part08 .location .location_xinyi {
    background: url(../img/index_location_02.jpg);
    background-size: cover;
  }
  .part08 .location .location_xinyi p {
    -ms-flex-item-align: end;
        align-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 377px) {
  .owl-part06 {
    left: 40px !important;
    padding-top: 50px;
    width: 80%;
  }
  .part06 .part_06_info h1 {
    padding: 10px 60px !important;
  }
  .part06 .owl-next {
    left: 87%;
    position: absolute;
  }
  .part06 .owl-prev {
    position: absolute;
    right: 87%;
  }
  .part06 .part06_arrow {
    padding-top: 14%;
  }
}

@media (min-width: 576px) and (max-width: 821px) {
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: black;
    text-align: center;
    color: #AF965D;
    padding: 20px;
    font-size: 12px;
    position: fixed;
    z-index: 998;
  }
  .full_navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 999;
  }
  .full_navbar .close_menu {
    padding: 17px 0 0 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .full_navbar .full_language {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .full_navbar .full_language span {
    padding: 0 10px;
  }
  .full_navbar_content .list-group-item {
    background-color: #F2F4F4;
    border: #D5D8DC solid 0.5px;
    padding: 7px 0 0 10px;
    color: black;
    font-size: 15px;
  }
  .case_consult {
    background-color: RGB(247, 247, 247);
    padding: 15px 10px;
  }
  .tab-pane span {
    color: black;
  }
  .tab-pane ul,
  .tab-pane li {
    margin: 20px 0;
  }
  .social {
    background-color: white;
  }
  .social a img {
    width: 50%;
    margin: 10px 0 0 20px;
  }
  .top_navbar_content {
    color: black;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .top_navbar_content ul,
  .top_navbar_content li {
    margin-left: 5px;
    color: black;
  }
  .navbar_xs .nav {
    background-color: #AD995B;
    height: 65px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar_xs .nav a,
  .navbar_xs .nav p {
    text-align: center;
    font-size: 15px;
    color: white;
  }
  .navbar_xs .nav a img,
  .navbar_xs .nav p img {
    height: 30px;
    text-align: center;
  }
  .part02_maintitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 3px solid black;
  }
  .case {
    padding-top: 10px;
  }
  .part02_xs_content .part02_caption p {
    width: 30%;
    margin-left: 10px;
  }
  .part02_xs_content .part02_case_right {
    width: auto;
  }
  .list-group-item {
    border-top: none;
  }
  .list-group-item a:active {
    background-color: pink;
    color: white;
  }
  .menu_xs p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part03 ul li {
    padding-bottom: 30px;
  }
  .part03 ul li .nav-link {
    padding: 5px;
    margin: 0 5px;
    width: 60px;
  }
  .social_xs {
    background-color: white;
    padding-left: 10px;
    right: 0;
  }
  .social_xs img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 5px 10px 0;
    width: 30px;
  }
  .side_bar_right {
    display: none;
  }
  .section_2 {
    padding: 30px;
  }
  .part04 {
    text-align: center;
  }
  .part04 .part04_left_content {
    padding-top: 50px;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part05_xs {
    margin: 20px 0;
  }
  .part05_xs .card-title {
    font-size: 25px;
  }
  .part05_xs .card-text {
    font-size: 15px;
  }
  .part06 {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .part06 #doc_slide {
    width: 100%;
    padding-bottom: 20px;
  }
  .part06 .owl-prev {
    position: absolute;
    left: 5%;
    top: 88%;
  }
  .part06 .owl-next {
    position: absolute;
    right: 8%;
    top: 88%;
  }
  .part06 .round {
    position: relative;
  }
  .part06 .round .round-border {
    height: 85px;
    width: 85px;
    border: 1px dashed black;
    border-radius: 50%;
    -webkit-animation: spin 30s infinite;
            animation: spin 30s infinite;
    position: absolute;
    top: 20px;
    left: 44%;
  }
  .part06 .round .part06_arrow {
    position: absolute;
    right: 53%;
    top: 60px;
  }
  .part06 .part06_arrow_design {
    padding: 50px 10px 0 10px;
  }
  .part06 .owl-part06 {
    width: 75%;
    margin: auto;
    padding-top: 10%;
  }
  .part06 .owl-part06 div:focus {
    height: 210px;
    padding: 0 5px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  .part06 .part_06_info {
    padding: 0;
  }
  .part07_xs {
    padding: 40px;
    background-image: url(../img/index_marble_background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part07_xs div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part07_xs .instagram-media {
    height: 580px;
  }
  .part08_xs .part08_title_xs {
    padding-left: 10px;
  }
  .part08_xs .location_xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 15px;
  }
  .part08_xs .location_xs .location_info_xs {
    padding-top: 60%;
  }
  .part08_xs .location_xs .location_dunhua_xs {
    margin-right: 40px;
    width: 350px;
  }
  .part08_xs .location_xs .location_xinyi_xs {
    width: 350px;
  }
  .footer {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 55px;
  }
  .footer .footer_dot {
    display: none;
  }
  .footer .footer_info span {
    font-size: 10px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: black;
    text-align: center;
    color: #AF965D;
    padding: 20px;
    font-size: 12px;
    position: fixed;
    z-index: 998;
  }
  .full_navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 999;
  }
  .full_navbar .close_menu {
    padding: 17px 0 0 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .full_navbar .full_language {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .full_navbar .full_language span {
    padding: 0 10px;
  }
  .full_navbar_content .list-group-item {
    background-color: #F2F4F4;
    border: #D5D8DC solid 0.5px;
    padding: 7px 0 0 10px;
    color: black;
    font-size: 15px;
  }
  .case_consult {
    background-color: RGB(247, 247, 247);
    padding: 15px 10px;
  }
  .tab-pane span {
    color: black;
  }
  .tab-pane ul,
  .tab-pane li {
    margin: 20px 0;
  }
  .social {
    background-color: white;
  }
  .social a img {
    width: 50%;
    margin: 10px 0 0 20px;
  }
  .top_navbar_content {
    color: black;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .top_navbar_content ul,
  .top_navbar_content li {
    margin-left: 5px;
    color: black;
  }
  .navbar_xs .nav {
    background-color: #AD995B;
    height: 65px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar_xs .nav a,
  .navbar_xs .nav p {
    text-align: center;
    font-size: 15px;
    color: white;
  }
  .navbar_xs .nav a img,
  .navbar_xs .nav p img {
    height: 30px;
    text-align: center;
  }
  .part02_maintitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    border-bottom: 3px solid black;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .part02_xs_content .part02_caption p {
    margin-left: 10px;
    width: 60%;
  }
  .part02_xs_content .part02_case_right {
    width: auto;
  }
  .list-group-item {
    border-top: none;
  }
  .list-group-item a:active {
    background-color: pink;
    color: white;
  }
  .menu_xs p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .owl-dots {
    padding-bottom: 50px;
  }
  .part03 ul li {
    padding-bottom: 30px;
  }
  .part03 ul li .nav-link {
    padding: 5px;
    margin: 0 5px;
    width: 60px;
  }
  .social_xs {
    background-color: white;
    padding-left: 10px;
    right: 0;
  }
  .social_xs img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 5px 10px 0;
    width: 30px;
  }
  .side_bar_right {
    display: none;
  }
  .section_2 {
    padding: 30px;
  }
  .part04 {
    text-align: center;
  }
  .part04 .part04_dots {
    padding-bottom: 50px;
  }
  .part04 .part04_left_content {
    padding-top: 50px;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part05_xs {
    margin: 20px 0;
  }
  .part05_xs .card-text {
    font-size: 13px;
  }
  .part06 {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .part06 #doc_slide {
    width: 100%;
    padding-bottom: 20px;
  }
  .part06 .owl-prev {
    position: absolute;
    left: 1px;
    top: 85%;
  }
  .part06 .owl-next {
    position: absolute;
    right: 2px;
    top: 85%;
  }
  .part06 .round {
    position: relative;
  }
  .part06 .round .round-border {
    height: 85px;
    width: 85px;
    border: 1px dashed black;
    border-radius: 50%;
    -webkit-animation: spin 30s infinite;
            animation: spin 30s infinite;
    position: absolute;
    top: 20px;
    left: 40%;
  }
  .part06 .round .part06_arrow {
    position: absolute;
    right: 55%;
    top: 58px;
  }
  .part06 .part06_arrow_design {
    padding: 50px 0 0 10px;
  }
  .part06 .owl-part06 {
    padding-top: 50px;
    width: 75%;
    left: 12%;
  }
  .part06 .owl-part06 div:focus {
    height: 110px;
    padding: 0 5px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  .part06 .part_06_info {
    padding: 0;
  }
  .part07_xs {
    padding: 40px;
    background-image: url(../img/index_marble_background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .instagram-media {
    height: 620px !important;
  }
  .part08_xs {
    margin-bottom: 100px;
  }
  .part08_xs .location_info_xs {
    padding-top: 62%;
  }
  .footer {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
  }
  .footer .footer_dot {
    display: none;
  }
  .footer .footer_info span {
    font-size: 10px;
  }
}
/*# sourceMappingURL=all.css.map */